.Artists {
  height: 100vh;
  width: 100%;
  padding: 33px;
  display: flex;
  flex-direction: column;
  font-family: Rubik, sans-serif;
  color: #d3dadd;

  .ArtistList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
  }
}
