.Discography {
  display: flex;
  flex-direction: column;
  color: #d3dadd;

  .artistImage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .discographyHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .discographyPageTitle {
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
